.comp-block {
  border: 2px solid #ccc;
  margin: 20px;
}

.status-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #666;
  border-radius: 100%;
}



.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: #d60b52;
  border: .2em solid transparent;
  border-left-color: currentcolor;
  border-right-color: currentcolor;
  border-radius: 50%;
  -webkit-animation: 1s loading linear infinite;
  animation: 1s loading linear infinite;
}
@-webkit-keyframes loading {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
